@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400;500;600;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*header*/
header {
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
    width: 100%;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.G {
    background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.logo-text {
    color: #0B0223;
    font-family: Work Sans;
    font-size: 45px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.logo {
    display: flex;
}

.logo-img {
    margin-top: 0.4rem;
}

.bdimg {
    width: 2rem;
    height: 2rem;
}

.menu {
    color: #3C354F;
    text-align: center;
    font-family: Work Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    display: flex;
}

ul {
    list-style: none;
    display: flex;
    align-items: center;
    margin: 1rem;
}

li {
    margin: 1rem;
}

.bordered {
    display: flex;
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
    align-items: center;
    width: fit-content;
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding-left: .5rem;
    padding-right: .5rem;
}

/*section-1*/

.sec-1 {
    color: rgba(140, 87, 238, 0.03);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 7rem;
    padding-right: 7rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.text-1 {}

.title-1 {
    color: #0B0223;
    text-align: left;
    font-family: Work Sans;
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
}

.big-title-1 {
    text-align: left;
    font-family: Work Sans;
    font-size: 95px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    text-transform: uppercase;

    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.small-title-1 {
    color: #534C64;
    text-align: left;
    font-family: Work Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: lowercase;
}

.btn-1 {
    margin-top: 15px;

}

.btn-1-1 {
    display: inline-flex;
    padding: 21px 40px;
    align-items: flex-start;
    gap: 10px;

    border-radius: 48px;
    background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));

    color: #FFF;
    font-family: Work Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
}

.btn-1-2 {
    display: inline-flex;
    padding: 21px 40px;
    align-items: flex-start;
    gap: 20px;

    border-radius: 48px;
    background: #4EC5F7;
    color: #FFF;
    font-family: Work Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
}

.img-1 {
    max-width: 45%;
}

/*section-2*/
/*section-2*/
.img-2 {
    max-width: 45%;
}

.sec-2 {
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);
    display: flex;
    justify-content: space-between;
    padding-left: 7rem;
    padding-right: 7rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.text-2 {
    position: relative;
    float: right;
    max-width: 50%;
}

.title-2 {
    text-align: right;
    font-family: Work Sans;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.small-title-2 {
    color: #534C64;
    text-align: right;
    font-family: Work Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;

}

.btn-2 {
    color: #FFF;
    font-family: Work Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
    border-radius: 48px;
    background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
    display: inline-flex;
    padding: 21px 40px;
    gap: 10px;
    position: relative;
    float: right;

}

.op {
    padding-top: 5rem;
    color: #534C64;
    text-align: right;
    font-family: Work Sans;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 45px;
}

.subtitle-2 {
    color: #534C64;
    font-family: Work Sans;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 45px;
    position: relative;
    float: right;
}

/*section-3*/
.sec-3 {
    background: #FFF;
    padding-left: 7rem;
    padding-right: 7rem;
    padding-top: 2rem;
    padding-bottom: 2rem;

}

.text-3 {
    text-align: center;
}

.title-3 {
    color: #0B0223;
    font-family: Work Sans;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.description-3 {
    color: #534C64;
    font-family: Work Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}

.funny-vid {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: Work Sans;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.images-3 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 1rem;
}

/*sec-4*/
.sec-4 {
    background: #FFF;
    padding-left: 7rem;
    padding-right: 7rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.content-4 {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.img-cont-4 {}

.img-4 {
    max-width: 90%;
}

.extra-img {
    width: 15rem;
    height: 15rem;
    position: relative;
    bottom: 12rem;
    left: 20rem;
}

.text-4 {
    text-align: center;
    align-items: center;
    padding-left: 5rem;
}

.title-4 {

    font-family: Work Sans;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 60px;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.any {
    color: #0B0223;
    font-family: Work Sans;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.description-4 {
    color: #534C64;
    font-family: Work Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}

/*sec-5*/
.sec-5 {}

.container-5 {
    display: flex;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;
}

.gicon {
    border-radius: 50px;
    background: #FFF;
    display: flex;
    align-items: center;
    gap: 20px;
    text-align: center;
    color: #0B0223;
    font-family: Work Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    border-radius: 50px;
    background: url(<path-to-image>), lightgray 50% / cover no-repeat;
    
}



/*footer*/
footer {
    background: #0B0223;
    padding-top: 5rem;
}

.container-f {}

.logo-2 {
    display: flex;
    justify-content: center;
}

.logo-img-2 {
    padding: 5px;
}

.logo-text-2 {
    text-align: center;
    font-family: Work Sans;
    font-size: 45px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    background: linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.G-2 {
    color: #FFF;
    font-family: Work Sans;
    font-size: 45px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.menu-2 {
    display: flex;
    justify-content: center;
    gap: 5rem;
    flex-wrap: wrap;
}

.menu-item {
    color: #FFF;
    text-align: center;
    font-family: Work Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.social {
    display: flex;
    justify-content: center;
    gap: 6rem;
    
    flex-wrap: wrap;
}

.terms {
    display: flex;
    justify-content: center;
    gap: 6rem;

    color: rgba(255, 255, 255, 0.60);
    text-align: center;
    font-family: Work Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.cp {
    color: rgba(255, 255, 255, 0.60);
    text-align: center;
    font-family: Work Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding-bottom: 3rem;
}

/*responsive*/

/*tablet*/

@media screen and (min-width: 425px) and (max-width: 768px) {
    * {
        padding: 0;
        margin: 0;
    }

    /*header*/
    nav {
        flex-direction: column;
    }

    header {
        flex-direction: column;
        padding-top: 10px;
    }

    .menu {
        flex-direction: column;
    }

    ul {
        flex-direction: column;
    }

    /*sec-1*/
    .sec-1 {
        flex-direction: column;
        padding-left: 4rem;
        padding-right: 4rem;
        align-items: center;
    }

    .text-1 {
        flex-direction: column;

    }

    .img-1 {
        max-width: 100%;
    }

    /*sec-2*/
    .sec-2 {
        flex-direction: column;
        align-items: center;
        padding-left: 4rem;
        padding-right: 4rem;
        text-align: center;
    }

    .text-2 {
        flex-direction: column;
        text-align: center;
        align-items: center;
    }

    .title-2 {
        text-align: center;
    }

    .small-title-2 {
        text-align: center;
    }

    .btn-2 {
        text-align: center;
        margin-right: 3rem;
    }

    .op {
        text-align: center;
    }

    .img-2 {
        max-width: 100%;
    }

    /*sec-3*/

    .sec-3 {
        flex-direction: column;
        text-align: center;
    }

    .text-3 {
        flex-direction: column;
    }

    .images-3 {
        flex-direction: column;
    }

    /*sec-4*/
    .sec-4 {}

    .content-4 {
        flex-direction: column;
        text-align: center;
        align-items: center;
    }

    .img-cont-4 {}

    .img-4 {
        max-width: 27rem;
    }

    .extra-img {
        max-width: 13rem;
        position: relative;
        bottom: 8rem;
        left: 12rem;
    }
}

/*mobile*/
@media screen and (max-width: 425px) {
    * {
        padding: 0;
        margin: 0;
    }

    /*header*/
    nav {
        flex-direction: column;
    }

    header {
        flex-direction: column;
        padding-top: 10px;
    }

    .menu {
        flex-direction: column;
    }

    ul {
        flex-direction: column;
    }

    /*sec-1*/
    .sec-1 {
        flex-direction: column;
        padding-left: 10px;
        padding-right: 10px;
    }

    .text-1 {
        flex-direction: column;
    }

    /*sec-2*/
    .sec-2 {
        flex-direction: column;
        align-items: center;
        padding-left: 2rem;
        padding-right: 2rem;
        text-align: center;
    }

    .text-2 {
        flex-direction: column;
        text-align: center;
        align-items: center;
        max-width: 100%;
    }

    .title-2 {
        text-align: center;
    }

    .small-title-2 {
        text-align: center;
    }

    .btn-2 {
        text-align: center;
        margin-right: 4rem;
    }

    .op {
        text-align: center;
    }

    .img-2 {
        max-width: 100%;
    }

    /*sec-3*/
    .sec-3 {
        flex-direction: column;
        text-align: center;
    }

    .text-3 {
        flex-direction: column;
    }

    .images-3 {
        flex-direction: column;
    }

    /*sec-4*/
    .sec-4 {}

    .content-4 {
        flex-direction: column;
        text-align: center;
        align-items: center;
    }

    .img-cont-4 {}

    .img-4 {
        max-width: 18rem;
    }

    .extra-img {
        max-width: 8rem;
        max-height: 9rem;
        position: relative;
        bottom: 6rem;
        left: 8rem;
    }
}